*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    padding: 20px;
    height: 300px;
    width: 400px;
}
input {
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    font-size: 16px;
    border: 3px solid seagreen;
    border-radius: 5px;
}
button{
    text-transform: capitalize;
    font-size: 14px;
    padding: 5px 10px;
    border: 2px solid seagreen;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    opacity: 0.8;
}
#save{
    background-color: seagreen;
    color: #fff;
}
#delete{
    color:seagreen;
    background-color: #f8f8f8;
}
#list{
margin: 15px 0px;
}
#list li {
    list-style-type: none;
}
#list a{
    color :seagreen;
    font-size: 16px;
}
#list a:hover{
   font-weight: bold;
}
